
Poller/classifier.pickle
Poller/.ipynb_checkpoints/CNN_MainList-checkpoint.ipynb
Poller/.ipynb_checkpoints/CNN_NEList-checkpoint.ipynb
Poller/.ipynb_checkpoints/cnn-checkpoint.py
Poller/.ipynb_checkpoints/MainList-checkpoint.txt
Poller/MainList.txt
Poller/NEList.txt
Poller/tests/.ipynb_checkpoints/python-sitemap-generator-checkpoint.ipynb
Poller/tests/.ipynb_checkpoints/info-checkpoint.txt
Poller/tests/.ipynb_checkpoints/cnn-checkpoint.py
Poller/tests/.ipynb_checkpoints/CNN_page_test-checkpoint.ipynb
Poller/tests/.ipynb_checkpoints/CNN_sitemap-checkpoint.py
Poller/tests/.ipynb_checkpoints/CNN_sitemap_test-checkpoint.ipynb
Poller/tests/.ipynb_checkpoints/crawler-scrapy-checkpoint.ipynb
Poller/tests/.ipynb_checkpoints/XKCD_comic_grabber-checkpoint.ipynb
Poller/tests/cnn/.ipynb_checkpoints/urls-checkpoint.txt
Poller/tests/cnn/urls.txt
Poller/tests/info.txt
Scrapy/tutorial/tutorial/.ipynb_checkpoints/items-checkpoint.py
Scrapy/tutorial/tutorial/.ipynb_checkpoints/pipelines-checkpoint.py
Scrapy/tutorial/tutorial/.ipynb_checkpoints/settings-checkpoint.py
Poller/.ipynb_checkpoints/MainList-Copy1-checkpoint.txt
Poller/.ipynb_checkpoints/multithreaded_xkcd-checkpoint.py
Poller/.ipynb_checkpoints/politicalAgg_test-checkpoint.ipynb
Poller/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Poller/.ipynb_checkpoints/XKCD_comic_grabber-checkpoint.ipynb
